[submodule "nexteuropa-vcl"]
	path = nexteuropa-vcl
	url = https://github.com/ec-europa/nexteuropa-vcl
[submodule "eac-eyp-vcl"]
	path = eac-eyp-vcl
	url = git@github.com:ec-europa/eac-eyp-vcl.git
[submodule "docker-fpfis"]
	path = docker-fpfis
	url = git@github.com:ec-europa/docker-fpfis.git
	branch = release/varnish-d7
